.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 4.5rem;
  line-height: 0;
}

.subtitle {
  margin: 0;
  font-size: 1.55em;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.box-under-arrow {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
  border: solid black;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1em 0.5em rgb(204, 204, 204);
  color: black;
  font-weight: bold;
  text-align: center;
}

.box-under-arrow p {
  margin: 0;
}

.section-heading {
  margin-top: 1em;
  margin-bottom: 1em;
  color: black;
  line-height: 1em;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .box-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .box-under-arrow {
    font-size: 1em;
    line-height: 1.2em;
  }

  .title {
    margin-bottom: 1rem;
    font-size: 3.5rem;
  }

  .subtitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 1.5em;
  }
}
