:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 3.5;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

button {
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: rgb(16, 13, 66);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
